header{
    top: 0vh;
    background-color: black;
    height: 12vh;
    width: 100vw;
    position: fixed;
    z-index: 1000; 
    color: #EECC5D;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: clamp(1rem, 5vw, 2rem);
    gap: 10px;
}
header input{
    font-size: clamp(1rem, 5vw, 2rem);
    margin-right: 0;
    width: clamp(150px, 30vw, 400px);
    height: clamp(60px, 2.5vw, 80px);
    border-radius: 10px;
}
header input::placeholder{
    opacity: .5;
}
header button{
    font-size: clamp(1rem, 5vw, 2rem);
    border-radius: 15px;
    margin-left: 0;
    background-color: #EECC5D;
    height: clamp(40px, 8vh, 60px);
    padding: 0 20px;
}      
.container{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    gap: 0;
    background-color: #FFF9DE;
    
}
.link_container {
  position: fixed;
  top: 12vh; 
  width: 100vw;
  height: 10vh;
  background-color: #EECC5D;
  z-index: 999; 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.link_container a{
    font-size: clamp(.75rem, 1.25rem, 1.75rem);
    margin: 1rem;
    color: black;
}

.products_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}