html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #FFF9DE;
    overflow-x: hidden;
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

/* Main content takes remaining space */
.main_content {
    flex: 1;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Sidebar stays on the right */
.side_container {
    width: 30vw;
    min-width: 150px;
    height: 100%;
    background-color: #EECC5D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input_login {
    width: 100%;
    max-width: 400px;
    padding: 1em;
    margin: .5em;
}

.button_login,
.button_create_account {
    width: 75%;
    max-width: 400px;
    color: white;
    background-color: black;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    padding: 0.75em 1em;
    margin: .5em;
    cursor: pointer;
}

.button_create_account {
    border-radius: 15px;
    margin-top: 1rem;
}

a {
    margin: .5rem;
}
