html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #FFF9DE;
    overflow-x: hidden; 
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}
.side_container {
    position: fixed;
    top: 0;
    right: 0; 
    width: 30vw;
    min-width: 150px;
    height: 100%;     
    background-color: #EECC5D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_content {
    margin-right: 20vw;  
    min-width: calc(100% - 20vw);
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_login{
    width: 100%;
    max-width: 400px;
    padding: 1em 1em;
    margin: .5em;
}
.button_login{
    width: 75%;
    max-width: 400px;
    padding: 1em 1em;
    color: white;
    background-color: black;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    padding: 0.75em 1em;
    margin: .5em;
}

.login_form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.button_create_account{
        width: 75%;
    max-width: 400px;
    padding: 1em 1em;
    color: white;
    background-color: black;
    border-radius: 15px;
    border: none;
    font-size: 1rem;
    padding: 0.75em 1em;
    margin-top: 1rem;
}

a{
    margin: .5rem;
}